{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>User: {{ user.username }}</h2>
{% endblock page_header %}

{% block content %}
<p>Are you sure you want to delete the account?</p>
<p>All of the following items will be deleted:</p>
<p>{{ total_topics }} topics</p>
<p>{{ total_entries }} entries</p>

<a class="btn btn-primary mb-3"
href="{% url 'users:user_delete' user.id %}"
role="button">delete account</a>

<a class="btn btn-primary mb-3"
href="{% url 'users:profile' user.id %}"
role="button">back</a>


{% endblock content %}

