{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h3>
    Edit entry. Topic:
    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
  </h3>
{% endblock page_header %}

{% block content %}

<form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <button type="submit" class="btn btn-primary mb-3">save changes</button>
    
    <a class="btn btn-primary mb-3"
    href="{% url 'learning_logs:topic' topic.id %}"
    role="button">back</a>
</form>

{% endblock content %}
