{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>
    Edit topic
  </h3>
{% endblock page_header %}

{% block content %}

<form action="{% url 'learning_logs:edit_topic' topic.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary mb-3">save changes</button>
    <a class="btn btn-primary mb-3"
    href="{% url 'learning_logs:topics' %}"
    role="button">back</a>
</form>

{% endblock content %}
