{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>User: {{ user.username }}</h2>
{% endblock page_header %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <h5 {% if message.tags %}
    class="{{ message.tags }}"
    {% endif %}
    >{{ message }}</h5>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'users:password' user.id %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary mb-3">save changes</button>
  <a class="btn btn-primary mb-3"
  href="{% url 'users:profile' user.id %}"
  role="button">back</a>
</form>

{% endblock content %}